# Terraform state & plan files
terraform.tfstate
terraform.tfstate.*
*.tfplan
*.tfvars

# Terraform working directory & lock file
.terraform/
.terraform.lock.hcl
terraform.tfstate.d/

# Ignore environment files
.env
.env.*