# Terraform state & plan files
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Terraform lock file
.terraform.lock.hcl

# Terraform cache directory
.terraform/
terraform.tfstate.d/

# Ignore all .env files
.env
.env.*